{% extends 'base.html' %} {% load static %} {% block title %}
<title>Dashboard</title>
{% endblock %} {% block content %}

<div class="container h-100">
    <div class="border-bottom border-danger">
        <h1 class="font-weight-bolder text-uppercase text-danger ">Dashboard</h1>
    </div>
    <div class="mt-2" style="height:75vh">
        <div style="height:100%">
            <div class="border border-danger w-75 bg-light">
                <p class="h3">Personnels</p>
            </div>
            <div></div>
        </div>
        <div>
            <div></div>
            <div></div>
        </div>
    </div>


</div>
<script>

</script>
{% endblock %}
